body{
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #333;
    color: #fff;
    padding: 16px;
    text-align: center;
}
#divBusca{
    background-color:#333;
    border:solid 1px;
    border-radius:15px;
    width:300px;
    display: flex;
    justify-content: center;
    margin: auto;
}
#txtBusca{
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
    color: white;
}
#btnBusca{
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    width: 15%;
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 16px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
main {
    padding: 32px;
}
main h2{
    text-align: center;
}
.destaques {
    text-align: center;
    display: flex;
    justify-content: center;
}
.produto {
    display: inline-block;
    margin: 16px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 500px;
}
.produto img {
    width: auto;
    height: auto;
}
#batera{
    margin-top: 95px;
}
.produto h3 {
    margin: 8px 0;
}
.produto p {
    color: #666;
}
button{
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover { 
    background-color: #218838;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.footer-columns {
    display: flex;
    justify-content: space-between;
    color: white;
}
.footer-column {
    width: 22%;
}
.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin-bottom: 5px;
}
.footer-column ul li a {
    text-decoration: none;
    color: white;
}
.secupagamento{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: white;
}
.metopagamento, .certisegura {
    width: 48%;
}
.metopagamento img{
    width: 10%;
    margin-right: 10px;
}
.certisegura img{
    width: 20%;
}
.redessociais{
    justify-content: space-between;
    margin-top: 20px;
}
.redessociais a{
    margin: 0 10px;
}
.redessociais img{
    width: 5%;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}